<!-- Inicio do Menu -->
<section class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg">
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand text-light" href="/"><img class="logo" src="/img/LOGOMARCA.svg"
          alt="logo" width="160"></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light ul-menu efect" href="/">Home <span class="sr-only">(Página
              atual)</span></a>
        </li>
        <li class="nav-item ul-menu efect">
          <a class="nav-link text-light  " href="/produtos">Produtos</a>
        </li>
        <li class="nav-item ul-menu efect">
          <a class="nav-link text-light" href="/noticia">Notícia</a>
        </li>
        <li class="nav-item ul-menu efect">
          <a class="nav-link text-light" href="/sobre">Sobre</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse " style="margin-left:500px;" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" href="http://www.instagram.com/atraderop"><img
              src="/img/icons/instagram.png" alt="insta" width="30"> <span class="sr-only">(Página
              atual)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-light " href="http://www.facebook.com/amazontop.trader.7"><img
              src="/img/icons/facebook.png" alt="face" width="30"></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-light" href="atraderop@gmail.com"><img src="/img/icons/plus.png" alt="twitter"
              width="30"></a>
        </li>

      </ul>

    </div>
  </nav>
</section>

<!-- Fim do Menu -->