<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Amazontrader</title>
  <!-- Meu link Css -->
  <link rel="stylesheet" href="/css/stylle.css">
  <link rel="stylesheet" href="/css/noticias.css">
  <link rel="stylesheet" href="/css/produtos.css">
  <link rel="stylesheet" href="/css/sobre.css">


  <!-- Link css para Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.css">



  <!-- Scrips Java Scrip e JQuery-->
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/anchor.min.js"></script>
  <script src="/js/clipboard.min.js"></script>
  <script src="/js/holder.min.js"></script>
  <script src="/js/jquery-slim.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/ie-emulation-modes-warning.js"></script>
  <script src="/js/pwa.js"></script>



</head>

<body>
  {{>navbar}}
  
  {{{body}}}
  {{>footer}}

</body>

</html>