<!-- Inicio do Banner com efeito Paralax-->
<section class="section-header">
  <div class="container mt-4">
    <div class="row float-left">
      <div class="col-xs-12">
      </div>
    </div>
    <div class="row float-right">
      <div class="col-xs-12">
        <img class="img-homem" src="/img/EVEDO1.png" alt="homem" width="300">
      </div>
      <div class="col-xs-12 text-baner ">
        <h1><img src="/img/PROP1 (1).svg" width="350" alt="titulo"></h1>
      </div>
      <div class="col-xs-12 botao1">
        <a href="/produtos"><button type="button"
            class="btn btn-primary btn-lg  bg-warning border-0 text-body rounded-bottom bot-form">CLIQUE AQUI PARA SABER
            MAIS</button></a>
      </div>
    </div>
  </div>
</section>
<!-- Fim do Banner-->


<!-- 1 Card para Gatilho Mental -->
<div class="container m-auto">
  <div class="container margin-topo border-0">
    <div class="card-body">
      <h5 class="card-title" style="font-size:50px; text-align:center;">Qualquer pessoa pode investir na bolsa de
        valores</h5>
      <p class="card-text font-weight-light" style="text-align: center;">Você sabia que essa coisa de investimento na
        bolsa de valores é para rico,
        magnatas ou algo assim é coisa do passado? Hoje vivemos em uma era digital na qual o mercado financeiro está
        mais acessivel
        e aberto as pessoas. Independente do seu status o seu dinheiro pode render muito mais quando começares investir
        do jeito certo, e isso nós manjamos.</p>
    </div>
  </div>
  <div class="m-auto" style="display: flex; align-items: center;">
    <video class=" m-auto" style="width: 600px; height: 350px; margin-top: 48px;"
      poster="/img/Quer-se-tornar-um-investidor-de-sucesso-Descubra-como-aqui.jpg" controls>
      <source
        src="/video/O Melhor Motivacional para Day Trader   Muito prazer nós somos Traders   Esfera Consultoria.mp4">
    </video>
  </div>
</div>
<!-- Fim Card -->



<!-- Section para Efeito paralax --->
<section class="section-card"></section>
<!----->


<!-- Texto Afinal o que é Trade -->
<div class="container" style="width: 80%;">
  <div class="card margin-topo border-0">
    <div class=" text-justify card-body">
      <h5 class="card-title display-4 text-uppercase" style="text-align:center;">Afinal, o que é trade?</h5>
      <p class="card-text text-format font-weight-light">A palavra trade vem do inglês e significa negociar. Dessa
        forma,
        podemos entender que ela remete aos processos de negociação no mercado, tais como a compra e venda de ações,
        títulos,mini contratos (Mercado futuro), entre outros. </p>
      <p class="card-text text-format font-weight-light">Tendo em vista essa definição,
        muitas pessoas entendem que trading funciona como os demais investimentos.
        A diferença é que o objetivo principal do primeiro é a valorização do capital,
        enquanto que no segundo a meta é produzir renda ao longo do tempo. </p>
      <p class="card-text text-format font-weight-light">Ou seja, o trading não deixa de ser um investimento também.
        A questão é que você compra um ativo baseado em uma circunstância específica. Depois disso, espera que ele
        se valorize em um determinado período para obter um ganho de capital.</p>
    </div>
  </div>
</div>
<!-- - -->

<!--- Div com Texto --->
<div class="card margin-topo border-0">
  <div class="card-body">
    <h5 class="card-title display-4 text-uppercase" style="font-size:30px; text-align:center;"><strong>Alguns Ativos que
        podem ser negociados na Bolsa</strong></h5>
  </div>
</div>
<!---->




<!-- Div com 3 Cards alinhados para divugação -->
<div class="container marketing" style="padding-left: 9%;">
  <div class="row">
    <div class="col-lg-4 card-body">
      <img class="rounded" src="/img/MINICONTRATOS.svg" alt="Generic placeholder image" width="150">
      <h5 class="card-title">Mini Contratos</h5>
      <p class="card-text text-justify font-weight-light">Os minicontratos são uma ótima oportunidade para investidores
        com pequeno capital, com eles, você pode investir
        pouco e ter chances de ganhar muito. </p>
    </div>
    <div class="col-lg-4 card-body">
      <img class="rounded" src="/img/MERCADOFUTURO.svg" alt="Generic placeholder image" width="150">
      <h5 class="card-title">Mercado Futuro</h5>
      <p class="card-text text-justify font-weight-light">O mercado futuro pode ser entendido como uma evolução do
        mercado a termo. Nele, os participantes se comprometem
        a comprar ou vender certa quantidade de um ativo para a liquidação em data futura.</p>
    </div>
    <div class="col-lg-4  card-body">
      <img class="rounded" src="/img/AÇÕES.svg" alt="Generic placeholder image" width="150">
      <h5 class="card-title">Ações</h5>
      <p class="card-text text-justify font-weight-light">Quem compra uma ação na Bolsa de Valores está levando uma
        pequena parte de uma empresa de terceiros e passa a
        ser chamado de acionista minoritário.</p>
    </div>
  </div>
</div>


<!----->


<!-- Section com efeito paralax com botão.-->
<section class="second-section">
  <div class="container" style="position: relative; padding-top:50px;">
    <h1 style="font-size: 50px; width:600px;">E, ai? <br> Quer aprender mais <br> sobre a bolsa de valores?</h1>
  </div>
  <div class="container">
    <a href="/produtos"><button type="button"
        class="btn btn-primary btn-lg  bg-warning border-0 text-body float-right botao2">CLIQUE AQUI PARA SABER
        MAIS</button></a>
  </div>
</section>
<!----->


<!-- Cards com imagem e texto para perfil dos instrutores -->
<div class="card margin-topo border-0">
  <div class="card-body">
    <h5 class="card-title display-4" style="font-size:30px; text-align:center;">Conheçam nossos instrutores</h5>
  </div>
</div>

<div class="container marketing margin-topo card-inst">
  <div class="row card-espaco">
    <div class="col-lg-4" style="position: relative; margin: auto;">
      <img class="rounded-circle" src="/img/EVANDRO.png" alt="Generic placeholder image" width="140"
        height="140">
      <h2>Evandro Miranda</h2>
      <p>Sócio fundador da Amazon Trader, CO da SoftAgency desenvolve soluções digitais para diversos negócios atuante
        em ivestimentos
        de sucesso no mercado financeiro nacional e na américa latina.</p>
    </div>
    <div class="col-lg-4 ">
      <img class="rounded-circle" src="/img/EDUARDOPERFIL.png" alt="Generic placeholder image" width="140"
        height="140">
      <h2>Eduardo Oliveira</h2>
      <p>CO da Amazon Trader sócio fundador da SoftAgency, empreendedor com longaexperiência nas áres de tecnologia e
        finanças .
        Premiado com a láurea acadêmimica em 16 anos de curso de Economia da USS.</p>
    </div>
  </div>
</div>
<!----->


