<!--- Efeito Paralax / Texto Com a Historia da Empresa---->
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column sobre-bg ">
  <main role="main" class="inner cover sobre-bg margin-text ">
    <h1 class="cover-heading">Conheca nossa História.</h1>
    <p class="lead">
      A missão da empresa AMAZONTRADE é fornecer conhecimento para o maior
      numero de pessoas pela Internet. Nossos principais clientes são
      aqueles que buscam aprender mais sobre a bolsa de valores e seus
      mercados. Fundada em 2019 pelos Senhores Eduardo Oliveira e Evandro,
      na cidade de Manaus, atualmente contamos com cinco funcionários.
    </p>
  </main>
  